@model MVCTask.ViewModels.UserViewModel
@{
   ViewBag.Title = "Index";
}

@using (Html.BeginForm("Index", "User",
            null, FormMethod.Post, new { @class = "form-inline" })) {
   <br />
<div class="form-group mb-2">
   @Html.LabelFor(m => m.SearchText, new { @class = "form-control-plaintext" })
</div>
<div class="form-group mx-sm-3 mb-2">
   @Html.TextBoxFor(m => m.SearchText, new { @class = "form-control", @placeholder = "Search User......" })
</div>
<button type="submit" class="btn btn-primary mb-2">Submit</button>
<a href="/user/Create" class="btn btn-success">Add User</a>
}

<table class="table table-hover" id="userList">
   <thead>
      <tr>
         <th scope="col">user_id</th>
         <th scope="col">user_name</th>
         <th scope="col">dept_name</th>
         <th scope="col">update_date</th>
         <th scope="col">action</th>
      </tr>
   </thead>
   <tbody>
      @foreach (var user in Model.userList) {
         <tr>
            <th>@user.user_id</th>
            <td>@user.user_name</td>
            <td>@user.dept.dept_name</td>
            <td>@user.update_date.ToShortDateString()</td>
            <td>
               <a class="btn btn-warning" href="/user/Edit/@user.user_id">Edit</a>
               <button class="btn btn-danger" onclick="DeleteUser(@user.user_id)">Delete</button>
            </td>
         </tr>
      }
   </tbody>
</table>

<script>
   function DeleteUser(id) {
      var checkDelete = confirm("Are you sure about to delete the user?");

      if (checkDelete) {
         $.ajax({
            url: "/user/Delete",
            data: {
               userid: id
            },
            success: function (result) {

               location.reload();
            }
         });
      }
   }
</script>
